<style>
   ul.button-group>li{
        float: none;
        display: inline-block;
        padding-left:15px;
        padding-right:15px;
    }
    ul.button-group{
        text-align: center;
    }

</style>




<div class="text-right" ng-controller="MyCtrl">

    <!-- === navbar === -->
    <div class="navbar navbar-fixed-top" data-activeslide="1">
        <div class="" style="margin-left:auto;margin-right:auto; width:70%">
            <div class=" nav-collapse  navbar-responsive-collapse ">
                <ul class=" nav row button-group" >
                    <li data-slide="5" class=""><a data-slide="5" href="#section-5" du-smooth-scroll du-scrollspy><span class="text">{{ 'about us' | translate }}&nbsp;<span class="icon icon-user"></span></span></a></li>
                    <li data-slide="4" class=""><a data-slide="4" href="#section-4" du-smooth-scroll du-scrollspy><span class="text">{{ 'help us' | translate }}&nbsp;<span class="icon icon-briefcase"></span></span></a></li>
                    <li data-slide="3" class=""><a data-slide="3" href="#section-3" du-smooth-scroll du-scrollspy><span class="text">{{ 'Information' | translate }}&nbsp;<span class="icon icon-info"></span></span></a></li>
                    <li data-slide="2" class=""><a data-slide="2" href="#section-2" du-smooth-scroll du-scrollspy><span class="text">{{ 'Doing' | translate }}&nbsp;<span class="icon icon-heart"></span></span></a></li>
                    <li data-slide="1" class=""><a data-slide="1" href="#section-1" du-smooth-scroll du-scrollspy><span class="text">{{ 'Home' | translate }}&nbsp;<span class="icon icon-home"></span></span></a></li>
                </ul>
                <div class=" row">
                    <div class=" col-sm-3 active-menu"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- === navbar === -->



    <!-- === Arrows === -->
    <div id="arrows">
        <div id="arrow-up" ng-click="arrowClick($event)" class="disabled"></div>
        <div id="arrow-down" ng-click="arrowClick($event)"></div>
        <div id="arrow-left" ng-click="arrowClick($event)" class="disabled visible-lg"></div>
        <div id="arrow-right" ng-click="arrowClick($event)" disabled="class visible-lg"></div>
    </div>
    <!-- === Arrows === -->











    

    <section ng-repeat="widget in widgets" class="slide story " data-slide="{{$index+1}}" id="section-{{$index+1}}">
               
          <div proxy="widget" proxy-value="{{widget}}"></div>
     
    </section>