

<div class="angular-animate">
<div class="page {{ mainController.pageClass }}">
<h1>Angular Animations Shenanigans</h1>
<h2>Home----{{ mainController.pageClass }}</h2>

<a href="#page-about" class="btn btn-success btn-lg">About</a>
<a href="#page-contact" class="btn btn-danger btn-lg">Contact</a>
       </div></div>
<br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br />

<!--<div style="width: 500px">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
       
      </slide>
    </carousel>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>


</style>-->