
<div class="modal show navClass" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
  <div class="modal-content">
        <div class="modal-header">
       
         
          <h1 class="text-center">Login</h1>
      </div>
              <div class="panel-body">
            
                 
                <div class="form-group">
                  <input class="form-control input-lg" ng-model="obj.user.userId" placeholder="User" type="text">
              </div>
                 
              <div class="form-group">
                <input class="form-control input-lg" ng-model="obj.user.password" placeholder="Password"  type="password" value="">
              </div>
               
              <div class="checkbox">
                  <label>
                    <input type="checkbox" > Remember Me
                  </label>
                </div>
              <input class="btn btn-lg btn-success btn-block" ng-click="logIn()"  value="Login">
         
      
          </div>
  </div>
  </div>
</div> 
<style type="text/css">
.navClass{
   background-image: url(..//images/login-wallpaper.jpg);
   background-size: 100% 100%;
    background-repeat: no-repeat;

}


</style>






  
