<!-- Modal -->

<div style="direction: rtl">
<div class="modal-header modal-header-primary">
    <div style="">
      <h3>  תוכן משימה</h3>
    </div>
</div>
<div class="modal-body">

    <div class="container" >

        <form role="form">
            <div class="form-group">
               
                    <div class="row">
                        <label  for="title">
                            <h3>כותרת :</h3>
                        </label>
                    </div>
                     <div class="row"> 
                    <label for="title">{{items.data.title}}</label>
</div>
         
            </div>
       
            <div class="form-group">
               
                           <div class="row">
                        <label  for="title">
                            <h3>תוכן :</h3>
                        </label>
                    </div>
                     <div class="row"> 
                    <p ng-bind-html="items.data.content"></p>
                         </div>
               
            </div>
        </form>
    </div>
</div>
</div>


<!-- Modal -->
