<style>
    .angular-google-map-container { height: 400px; }
</style> 
<div class="modal-content" style="width:60%; margin-left:auto;margin-right: auto;margin-top: 70px;direction:rtl">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        
                        <h1 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> יש לך שאלה? תרגיש חופשי לפנות אלינו.</h1>
                    </div>
                    <form action="#" method="post" accept-charset="utf-8">
                    <div class="modal-body" style="padding: 5px;">
                          <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input ng-model="add.contactUs.name" class="form-control" name="firstname" placeholder="שם" type="text" required autofocus />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input ng-model="add.contactUs.email" class="form-control" name="email" placeholder="דואר אלקטרוני" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input ng-model="add.contactUs.subject" class="form-control" name="כותרת" placeholder="Subject" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <textarea ng-model="add.contactUs.message" style="resize:vertical;" class="form-control" placeholder="הודעה..." rows="6" name="comment" required></textarea>
                                </div>
                            </div>
                        </div>  
                        <div class="panel-footer " style="margin-bottom:-14px;direction:ltr">
                            <a ng-click="add.save()" class="btn btn-success" >שלח</a>


                        </div>
                    </div>
                </div>
            <div class="rows">
               
  <!--              <script src='//maps.googleapis.com/maps/api/js?sensor=false&language=ar'></script>-->
                <ui-gmap-google-map center='map.center' zoom='15'>
                                    <ui-gmap-marker idKey='1'coords='marker'>
       
</ui-gmap-marker>

                </ui-gmap-google-map>

            </div>