



<div class="row form-header text-right">


   <ol class="breadcrumb">
  <li class="active"><a href="#users" translate>Users</a></li>
  <li  ><a href="#dashboard" translate>Dashboard</a></li>
</ol>
</div>

<div class="row">

    <div class="col-md-12 col-xs-12 ">
    <div class="modal-dialog ng-table-edit-modal">
        <div class="modal-content">
            <div class="modal-header text-right">
                <h3 class="text-center">טבלת משתמשים</h3>
            </div>
            <div class="panel-body" style="width: 100%">
                <table ng-table="tableParams" class="table table-striped table-bordered table-hover table-condensed">
                    <tr ng-repeat="user in $data" class="text-right">

                        <td data-title="'First_name'" sortable="'first_name'">
                            <a ng-click="list.setPatientId(user)" href="#/user/profile/{{user._id}}">{{user.first_name}}</a>
                        </td>
                        <td data-title="'last_name'" sortable="'last_name'">
                            <a href="#/user/profile/{{user._id}}">{{user.last_name}}</a>
                        </td>


                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
  <span  class="pull-left">  <a  class="btn btn-info" href="#/user/add"><span class="fa fa-plus" ></span>{{'Add user'|translate}}</a></span>
     

</div>

