
<style>

    /* TODO PANEL */
/*.steps{
  display: block;
}
.steps input[type=checkbox] {
  display: none;
}
.steps input[type=submit]{
  background: #f1783c;
  border: none;
  piteming: 0px;
  margin: 0 auto;
  width: 100%;
  height: 55px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.5s ease
}
.steps input[type=submit]:hover{
  background: #8fde9c;
  
}
.steps label{
  background: #393D40;
  height: 65px;
  line-height: 65px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #44494e;
  color: #889199;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  text-indent: 52px;
  cursor: pointer;
  transition: all 0.7s ease;
  margin: 0px;
}
.pn {

	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pn:hover {
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
	
}

#op1:checked ~ label[for=op1]:before,
#op2:checked ~ label[for=op2]:before,
#op3:checked ~ label[for=op3]:before{
  border: 2px solid #96c93c;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGFJREFUeNpinHLMhgEHKADia0xQThIQs6JJ9gPxZhYQAcS6QHwDiI8hSYJAC0gBPxDLAvFcIJ6JJJkDxFNBVtgBcQ8Qa6BLghgwN4A4a9ElQYAFSj8C4mwg3o8sCQIAAQYA78QTYqnPZuEAAAAASUVORK5CYII=') no-repeat center center;
}
.steps label:before{
  content:"";
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  margin: 26px 0px 0px 18px;
  border-radius: 100%;
  transition: border 0.7s ease
}
.steps label:hover{
  background: #2B2E30;
  color: #46b7e5
}
    .steps label:hover:before {
        border: 1px solid #46b7e5;
    }*/



</style>


<!--<h1 style="margin-top: 0px;piteming-top: 10px;" class=" text-right" translate>Add Meeting</h1>
<ol class="breadcrumb text-right">
    
  
    <li class="active" translate>Add Meeting</li>
      <li><a href="#/meetings" translate>Meeting</a></li>
    <li><a href="#" translate>Admin</a></li>
</ol>

<div ng-if="item.error" class="alert alert-danger" role="alert">{{ item.error }}</div>
<div ng-if="item.debug" class="alert alert-warning" role="alert">{{ item.debug }}</div>



<div class="well">


                      	<!-- SORTABLE TO DO LIST -->
	

        <div class="text-right">
   
    <div class="form-header " style="padding-top:30px" > <img id="Img1" style="width:100%" src="imgs/top.png" alt=""><h1 class="page-header text-right" translate>Meeting</h1>
<ol class="breadcrumb">
    <li class="active" translate>{{item.meeting.title}}</li>
    <li ><a href="#meetings/{{item.patient._id}}" translate>Meetings</a></li>
    <li><a href="#/patient/profile/{{item.patient._id}}" translate>{{item.patient.first_name}}</a></li>
  <li><a href="#patients" translate>Patients</a></li>
  <li  ><a href="#dashboard" translate>Dashboard</a></li>
</ol>
</div>
</div>
      	<img id="top" src="imgs/top.png" alt="">

	<div id="form_container">
	
		
        <br />
   <form class="form-horizontal style-form" method="get">
                 
                  <div  class="form-group ">
                          <label for="first_name" class="col-md-2   control-label pull-right"><strong>: מטפל</strong></label>

                          <div class="col-sm-10 pull-right">
                              <label for="first_name" class="col-md-2   control-label pull-right"><strong>{{item.meeting.therapistId}}</strong></label>
                  
                          </div>
                 </div>

                  <div  class="form-group ">
                          <label for="patientId" class="col-md-2  control-label pull-right"><strong>: Last Name</strong></label>

                          <div class="col-sm-10 pull-right">
                                   <label for="patientId" class="col-md-2  control-label pull-right"><strong>{{item.meeting.patientId}}</strong></label>
                         
                          </div>
                 </div>

                 <div  class="form-group ">
                          <label for="title"  class="col-md-2  control-label pull-right"><strong>: title</strong></label>

                          <div class="col-sm-10 pull-right">
                              <label for="title"  class="col-md-2  control-label pull-right"><strong>{{item.meeting.title}}</strong></label>
                          </div>
                 </div>

                 <div  class="form-group ">
                          <label for="adress" class="col-md-2 control-label pull-right"><strong>: adress</strong></label>

                          <div class="col-sm-10 pull-right">
                               <label for="adress" class="col-md-2 control-label pull-right"><strong>{{item.meeting.adress}}</strong></label>
                        
                          </div>
                 </div>

                 <div  class="form-group ">
                          <label for="note"  class="col-md-2 control-label pull-right"><strong>: note</strong></label>

                          <div class="col-sm-10 pull-right">
                              <label for="note"  class="col-md-2 control-label pull-right"><strong>{{item.meeting.note}}</strong></label>

                          </div>
                 </div>



                         
                      </form>
		<div id="footer">
	
		</div>
	
	<img id="bottom" src="imgs/bottom.png" alt="">

 <section   class="task-panel tasks-widget">
	                	<div class="panel-heading">
	                        <div class="pull-right"><h3>משימות <span class="white-panel"><i class=" fa fa-tasks"></i> </span></h3></div>
	                        <br><br>
	                 	</div>
                          <div class="panel-body">
                              <div class="task-content">
                                  <ul id="sortable" class="task-list ui-sortable">
                                      <li ng-repeat="assignment in item.assignments" class="list-primary ">
                                          <i class=" fa fa-ellipsis-v"></i>
                                          <div class="task-checkbox pull-right">
                                              <input type="checkbox" class="list-child" value="" />
                                          </div>
                                          <div class="task-title">

                                              <div class="pull-left hidden-phone">
                                                  <button ng-click="assignment.idDone=!assignment.idDone" class="btn btn-success btn-xs fa fa-check"></button>
                                                  <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                  <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                              </div>

                                              <span ng-if="assignment.idDone" class="badge bg-success">בוצע</span>
                                              <span ng-if="!assignment.idDone" class="badge bg-info">לא בוצע</span>
                                              <span class="assignment-title-sp pull-right">{{assignment.title}}</span>


                                          </div>
                                      </li>
                                                                    

                                  </ul>
                              </div>
                              <div class=" item-task-row">
                                  <a ng-click="item.openModal()" class="btn btn-success btn-sm pull-left">Add New Tasks</a>
                                  <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>
                              </div>
                          </div>

                      </section><br />
    
</div>
<script src="meeting/css/tasks.js"></script>
