


    

<!--<script src="meeting/css/tasks.js"></script>-->


<div class="modal-dialog add-form form_container">
    <div class="modal-content">

        <div class="modal-header">
            <h1 class="text-center">טיפול חדש</h1>
       </div>

        <div class="panel-body text-right">
            <div class="row">
                <div class="col-md-12  col-xs-12">
                    <label class="label-text-size">
                        : מטפל
                    </label>
                </div>
                <div class="col-md-12 col-xs-12">
                    <input class="form-control input-md" ng-model="add.meeting.therapistId" placeholder="">
                </div>

            </div>
            <br/>
            <div class="row">
                <div class="col-md-12  col-xs-12">
                    <label class="label-text-size">
                        : שם משפחה
                    </label>
                </div>
                <div class="col-md-12 col-xs-12">
                    <input class="form-control input-md" ng-model="add.meeting.last_name" placeholder="">
                </div>

            </div>

            <br/>
            <div class="row">
                <div class="col-md-12  col-xs-12">
                    <label class="label-text-size">
                        : title
                    </label>
                </div>
                <div class="col-md-12 col-xs-12">
                    <input class="form-control input-md" ng-model="add.meeting.title" placeholder="">
                </div>

            </div>
          
             <br/>
            <div class="row">
                <div class="col-md-12  col-xs-12">
                    <label class="label-text-size">
                        : address
                    </label>
                </div>
                <div class="col-md-12 col-xs-12">
                    <input class="form-control input-md" ng-model="add.meeting.address" placeholder="">
                </div>

            </div>

                  <br/>
            <div class="row">
                <div class="col-md-12  col-xs-12">
                    <label class="label-text-size">
                        : note
                    </label>
                </div>
                <div class="col-md-12 col-xs-12">
                    <input class="form-control input-md" ng-model="add.meeting.note" placeholder="">
                </div>

            </div>
        </div>


        
        <div class="panel-footer">
            <div class="form-group row">
                <div class="col-md-6  ">
                    <a href="#/patient/profile/{{add.patient._id}}" class="btn btn-warning btn-block label-text-size">בטל</a>
                </div>
                <div class="col-md-6  ">
                    <button ng-click="add.save();"
                        class="btn btn-info btn-block label-text-size"
                        translate>
                        שמור
                    </button>
                </div>
            </div>
        </div>
             
    </div>
</div>


<!--<div class="modal-dialog add-form form_container">
    <div class="modal-content">

        <div class="modal-header">
            <h1 class="text-center">משימות</h1>
       </div>
         <section class="task-panel tasks-widget">
        <div class="panel-heading">
            <div class="pull-right">
                <h5>משימות <span class="white-panel"><i class=" fa fa-tasks"></i></span></h5>
            </div>
            <br>
        </div>
        <div class="panel-body">
            <div class="task-content">
                <ul id="sortable" class="task-list ui-sortable">
                    <li ng-repeat="assignment in add.assignments" class="list-primary ">
                        <i class=" fa fa-ellipsis-v"></i>
                        <div class="task-checkbox pull-right">
                            <input type="checkbox" class="list-child" value="" />
                        </div>
                        <div class="task-title">

                            <div class="pull-left hidden-phone">
                                <button ng-if="!assignment.isDone" ng-click="add.isDoneAssignmentToggle(assignment)" class="btn btn-success btn-xs fa fa-check"></button>
                                <button ng-if="assignment.isDone" ng-click="add.isDoneAssignmentToggle(assignment)" class="btn btn-warning btn-xs fa fa-remove"></button>
                                <button ng-click="add.editAssignment(assignment)" class="btn btn-primary btn-xs fa fa-pencil"></button>
                                <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                            </div>

                            <span ng-if="assignment.isDone" class="badge bg-success">בוצע</span>
                            <span ng-if="!assignment.isDone" class="badge bg-info">לא בוצע</span>
                            <span class="assignment-title-sp pull-right"><a ng-click="add.showTask(assignment)">{{assignment.title}}</a></span>


                        </div>
                    </li>


                </ul>
            </div>
            <div class=" add-task-row">
                <a ng-click="add.openModal()" class="btn btn-success btn-sm pull-left">Add New Tasks</a>
                <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>
            </div>
        </div>

    </section>
        

          </div>
</div>-->


