	<div class="navbar navbar-fixed-top" data-activeslide="1">
		<div class="container">
		
			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			
			<div class=" nav-collapse  navbar-responsive-collapse ">
				<ul class=" nav row">
						
					<li data-slide="3" class="col-12 col-sm-4"><a id="A4" href="#slide-3" title="Next Section"> <span class="text">איך תוכלו לעזור לנו&nbsp;
					<span class="icon icon-briefcase"></span></span></a></li>

					<li data-slide="2" class="col-12 col-sm-4"><a id="A5" href="#slide-2" title="Next Section"> <span class="text">מה אנחנו עושים&nbsp;<span class="icon icon-heart"></span></span></a></li>
					
					<li data-slide="1" class="col-12 col-sm-4"><a id="A6" href="#main" title="Next Section"> <span class="text">ביתss&nbsp;<span class="icon icon-home"></span></span></a></li>
				
				</ul>
				<div class=" row">
					<div class=" col-sm-2 active-menu"></div>
				</div>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</div><!-- /.navbar -->