#special-active-menu-5 {
	background-color: #34495e !important;
}



.about-us {
    background-color: #34495e;
    color: #e4e6e5;
    padding-top: 50px;
    height:100%;
    font-size:20px;
   
}
.lead {
font-size:25px;
}

    .about-us i {
        font-size: 80px;
        color: white;
    }
