<div class="row form-header text-right">

    <img id="Img1" src="imgs/top.png">
    <h1 class="page-header" translate>Meetings</h1>
    <ol class="breadcrumb">
        <li class="active" translate>Meetings</li>
        <li><a href="#/patient/profile/{{list.patient._id}}" translate>{{list.patient.first_name}}</a></li>
        <li><a href="#patients" translate>Patients</a></li>
        <li><a href="#dashboard" translate>Dashboard</a></li>
    </ol>
</div>


<div class="row">
    <table class="table table-striped text-right">
        <thead>
            <tr>

                <td></td>
                <td></td>
                <td></td>

                <td translate>Time</td>

                <td translate>Title</td>

            </tr>
        </thead>

        <tr ng-repeat="meeting in list.meetings">

            <td>
                <a class="btn btn-warning btn-xs glyphicon glyphicon-pencil" href="#/meeting/edit/{{meeting._id}}"></a>
            </td>
            <td>
                <i object-name="meeting" confirm-action="list.remove($index,meeting)" class="btn btn-xs btn-danger glyphicon glyphicon-trash"></i>
            </td>
            <td></td>

            <td>{{meeting.time}}</td>

            <td><a href="#/meeting/item/{{meeting._id}}">{{meeting.title}}</a></td>
            <td>{{$index}}</td>
        </tr>

    </table>

    <a class="btn btn-info" href="#/meeting/add"><span class="fa fa-plus"></span>{{'Add meeting'|translate}}</a>
</div>
