



<h1 class="page-header" translate>Meeting</h1>
<ol class="breadcrumb">
  <li><a href="#" translate>Admin</a></li>
  <li class="active" translate>meeting</li>
</ol>


<div class="well">






  <label translate>Search</label> <input placeholder="search" ng-model="q">
  <a  class="btn btn-info" href="#/meeting/add"><span class="fa fa-plus" ></span>{{'Add meeting'|translate}}</a>

</div>



<table class="table table-striped">
  <thead>
  <tr>
    <td></td>
    <td translate>Ttile</td>
    <td translate>Address</td>
    <td translate>Note</td>
      <td></td>
       <td></td>
  </tr>
  </thead>
  <tr ng-repeat="meeting in list.meetings">
    <td>{{$index}}</td>
          <td>{{meeting.title}}</td>
    <td>{{meeting.address}}</td>
      <td>{{meeting.note}}</td>
      <td></td>
    <td>
      <a class="btn btn-warning btn-xs glyphicon glyphicon-pencil" href="#/meeting/edit/{{meeting._id}}"></a>
    </td>
    <td>
         <i object-name="meeting" confirm-action="list.remove(meeting)"  class="btn btn-xs btn-danger glyphicon glyphicon-trash"></i>
    </td>
  </tr>

</table>



