<div class="row form-header text-right">

    <ol class="breadcrumb">
        <li class="active"><a href="#" translate>{{profile.patient.first_name}}</a></li>
        <li><a href="#patients" translate>Patients</a></li>
        <li><a href="#dashboard" translate>Dashboard</a></li>
    </ol>

</div>

<!--   <div class="modal-dialog  " style="width: 100%">
            <div class="modal-content">
                <div class="modal-header text-right" >
            
 <div class="panel-body">

                        </div>
                   </div>      

            </div>
        </div>-->

<div class="row ">

    <div class="col-md-9">

        <span ui-view></span>

    </div>


    <div class="col-md-3 slideLeft">

        <div class="modal-content">
            <div class="modal-header text-right">
                <h3 class="text-center">User</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 col-sm-12" style="direction: rtl">
                        <h3>General Information</h3>

                        <ul class="profile-details">
                            <li>
                                <div><i class="fa fa-briefcase"></i> Name</div>
                                <strong>{{profile.patient.name}}</strong>
                            </li>
                            <br />
                            <li>
                                <div><i class="fa fa-building-o"></i> identityNumber</div>
                                <strong>{{profile.patient.identityNumber}}</strong>
                            </li>
                            <br />
                        </ul>

                        <h3>Contact Information</h3>

                        <ul class="profile-details">
                               <li>
                                <div><i class="fa fa-phone"></i> Birht Date</div>
                                <strong>{{profile.patient.birthDate | jsDate  | date:'dd/MM/yyyy'}}</strong>
                            </li>
                            <li>
                                <div><i class="fa fa-phone"></i> work Place</div>
                                <strong>{{profile.patient.workplace}}</strong>
                            </li>
                            <li>
                                <div><i class="fa fa-phone"></i> contacts</div>
                                <strong>+48 123 456 789</strong>
                            </li>
                            <br />
                          <!--  <li>
                                <div><i class="fa fa-tablet"></i> mobile phone</div>
                                <strong>+48 123 456 789</strong>
                            </li>
                            <br />-->
                            <li>
                                <div><i class="fa fa-envelope"></i> e-mail</div>
                                <strong>{{profile.patient.email}}</strong>
                            </li>
                            <br />
                            <li>
                                <div><i class="fa fa-map-marker"></i> address</div>
                                <strong>{{profile.patient.address}}</strong><br>
                            
                            </li>
                            <br />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
              <!--  <a ui-sref=".meetings({ patientId: profile.patient._id})" class="btn btn-primary">טיפולים</a>
                <a ui-sref=".inbox" class="btn btn-primary">הערות</a>-->
                <span class="pull-right">
                    <a href="#/patient/edit/{{profile.patient._id}}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
<span ng-click="profile.remove(profile.patient)"  data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></span>

                </span>
            </div>
        </div>
    </div>
</div>
