<div class="row form-header text-right">



    <ol class="breadcrumb">
        <li class="active"><a href="#" translate>{{profile.patient.first_name}}</a></li>
        <li><a href="#patients" translate>Patients</a></li>
        <li><a href="#dashboard" translate>Dashboard</a></li>
    </ol>

</div>



<div class="row ">

    <div class="col-sm-9" >
        <div class="modal-dialog  " style="width: 100%">
            <div class="modal-content">
                <div class="modal-header text-right" >
            

                   
                         


                                <tabset  style="direction:rtl">
    <tab heading="Static title">Static content</tab>
    <tab ng-repeat="tab in profile.tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab>
   
  </tabset>
                                <!--/col-->

                           
                            <!--/row-->

                        </div>
                       

            </div>
        </div>


    </div>


    <div class="col-md-3">
        <div class="modal-dialog  text-right " style="width: 100%">
            <div class="modal-content">
                <div class="modal-header text-right">
                    <h3 class="panel-title">General Information</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5 col-sm-12" style="direction: rtl">


                            <ul class="profile-details">
                                <li>
                                    <div><i class="fa fa-briefcase"></i>position</div>
                                    CEO
                                </li>
                                <li>
                                    <div><i class="fa fa-building-o"></i>company</div>
                                    creativeLabs
                                </li>
                            </ul>

                            <h3>Contact Information</h3>

                            <ul class="profile-details">
                                <li>
                                    <div><i class="fa fa-phone"></i>phone</div>
                                    +48 123 456 789
                                </li>
                                <li>
                                    <div><i class="fa fa-tablet"></i>mobile phone</div>
                                    +48 123 456 789
                                </li>
                                <li>
                                    <div><i class="fa fa-envelope"></i>e-mail</div>
                                    lukasz@bootstrapmaster.com
                                </li>
                                <li>
                                    <div><i class="fa fa-map-marker"></i>address</div>
                                    Konopnickiej 42<br>
                                    43-190 Mikolow<br>
                                    Slask, Poland
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <a href="#meetings/{{profile.patient._id}}" class="btn btn-primary">טיפולים</a>
                    <a class="btn btn-primary">הערות</a>
                    <span class="pull-right">
                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    </span>
                </div>
            </div>


        </div>
    </div>


</div>


<style>
    .nav-tabs > li {
    float: right;
 
}

    .nav-tabs  {
           padding-right: 0px;
    }
    .panel-heading {
        background-color: #005B7F;
        background-image: none;
        color: white;
    }
</style>


