<div class="row form-header text-right">

    <ol class="breadcrumb">
         <li class="active">add item</li>
      <li class="active"><a href="#news" translate>news</a></li>
        <li><a href="#dashboard" translate>Dashboard</a></li>
    </ol>
</div>


<div class="modal-dialog add-form form_container">
    <div class="modal-content">

        <div class="modal-header">
            <h1 class="text-center">Add News</h1>
       </div>

        <div class="panel-body text-right">
            <div class="row">
                <div class="col-md-12  col-xs-12">
                    <label class="label-text-size">
                        : כותרת
                    </label>
                </div>
                <div class="col-md-12 col-xs-12">
                    <input class="form-control input-md" ng-model="add.news.title" placeholder="">
                </div>

            </div>
            <br/>


                <div class="form-group">
          <div class="col-md-12 col-xs-12 " >
                <label class="pull-right" for="content">: תוכן</label>
     <!-- <textarea ng-model="add.news.content" class="form-control text-right" rows="4"  id="content"></textarea>-->
              <text-angular style="direction:rtl" ng-model="add.news.content"></text-angular>
              </div>
    </div>

       
        </div>


        
        <div class="panel-footer">
            <div class="form-group row">
                <div class="col-md-6  ">
                    <a href="#/patients" class="btn btn-warning btn-block label-text-size">בטל</a>
                </div>
                <div class="col-md-6  ">
                    <button ng-click="add.save();"
                        class="btn btn-info btn-block label-text-size"
                        translate>
                        שמור
                    </button>
                </div>
            </div>
        </div>
             
    </div>
</div>


