

<div class="papers slideLeft " style="margin-top: 90px;">

    <div class="container " style="direction: rtl; width: 80%; height: 100%">

        <div class="col-md-12 ">


            <h4 class="notopmarg nobotmarg">סממנים לפגיעה מינית, פיזית, נפשית או חברתית בילד</h4>
            <p style="direction: rtl">


                <h5><strong>התופעה ומאפיינה :</strong></h5>
                <p>
                    הורים ואנשי חינוך רבים פונים לקו החם של אל"י ושואלים האם יש סימנים היכולים להעיד על חשד שמא ילדם עובר התעללות.
לאור זאת אנחנו מציגים רשימה של סממנים שעלולים להיות סימפטומים לפגיעה בילד (חשוב לציין שנוכחות אחד או יותר מהסממנים אצל הילד לא בהכרח מעידה על פגיעה דרמטית וחמורה במיוחד. עם זאת, יש להיות ערים לסימני המצוקה ולהדליק נורה אדומה אצל המבוגרים):
                    <ul>
                        <li>שינויים קיצוניים במצב הרוח.</li>
                        <li>הימנעות ממקומות או אנשים ספציפיים.
                        </li>
                        <li>עיסוק במיניות שלא תואם את גיל הילד.
                        </li>
                        <li>ירידה בתחומי עניין.ירידה בלימודים.
                        </li>
                        <li>תחושה שהילד שומר על סוד.
                        </li>
                        <li>התפרצויות זעם.
                        </li>
                        <li>הרטבה או התלכלכות.
                        </li>
                        <li>בעיות התנהגות. החרפה בבעיות קיימות.
                        </li>
                        <li>בידוד חברתי.
                        </li>
                    </ul>


אם אחד או יותר מהסממנים האלו קיים אצל ילד או ילדה שאתם מכירים אל תתעלמו. משפטים כמו "כל הילדים היום ככה", "גם אני הייתי כזה כשהייתי ילד", "צריך לתת לזה לעבור לבד" מעידים פעמים רבות על הכחשה מתוך קושי שלנו המבוגרים להתמודד עם האפשרות שמא הילד הינו קרבן להתעללות.
לא פעם הורים ומורים מביעים תסכול לאחר שנחשפת התעללות בילד מכך שלא זיהו סימני מצוקה שהיו קיימים לאורך תקופה ארוכה.
ההמלצה שלנו היא לא לקפוץ למסקנות דרמטיות אבל בהחלט לא להתעלם.
רצוי להתייעץ עם איש מקצוע בתחום טיפול בילדים.
 
                </p>

        </div>
    </div>
</div>
