<div class="papers slideLeft " style="width:60%;height:100%; margin-top:90px;">   

<div class="container " style="direction:rtl;width:80%;height:100%">

<div class="col-md-12 " >

			
					<h4 class="notopmarg nobotmarg">מידע להורים</h4>
					<p style="direction:rtl">

 

                        <p>
הורים יקרים, אנחנו באל"י יודעים שאתם מנסים לעשות את הטוב ביותר עבור ילדכם, אם זאת, אנו מודעים לכך כי ההורות היא מורכבת ומבלבלת.
לשם כך, ניסינו לרכז עבורכם מידע חשוב. </p><br />
    <div class="col-md-6 " >
    <a href="#abuse" class="btn btn-primary" translet>מהי התעללות</a>
	</div>	
       <div class="col-md-6 " >
    <a href="#abuse_signs" class="btn btn-primary" translet>סממנים לפגיעה מינית, פיזית,
נפשית או חברתית בילד</a>
	</div>		
		
    </div>
			</div></div>
