<style>
    .cat-badge {
        color: #fff;
        background-color: #FA8B0C;
        border-radius: 10px 0 0 10px;
    }

    .cat-badge-left {
        color: #fff;
        background-color: #FA8B0C;
        border-radius: 0 10px 0 0;
    }

    a {
        text-decoration: none;
        color: white;
    }
</style>




<aside id="Social-Sidebar-allpages" class="Theme-Color">
    <ul>
        <li class="fadeIn"><a href="#main" class="Home"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li><a href="" ng-click="back()" class="Back" rel="nofollow"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </li>
        <li ng-click="showMe=!showMe"><a href="" class="Menu" rel="nofollow"><span class="glyphicon glyphicon-list"></span></a>
        </li>
        <!--        <li ng-show="!showMe" ng-click="showMe=!showMe"><a href="" class="Facebook" rel="nofollow"><span>הסתר תפריט</span></a>
        </li>-->
    </ul>
</aside>

<aside ng-show="!showMe" id="Social-Sidebar" class="Theme-Color">
    <ul class="fadeIn">
        <li><a href="#abuse" class="Facebook" rel="nofollow"><span>מהי התעללות</span></a></li>
        <li><a href="#abuse_signs" class="Twitter" rel="nofollow"><span>סממנים לפגיעה</span></a></li>

    </ul>
</aside>

<div class="papers slideLeft " style="width: 60%; height: 100%; margin-top: 90px;">

    <div class="container " style="direction: rtl; width: 80%; height: 100%">

        <div class="col-md-12 ">

            <div class="row">
                <h4 class="notopmarg nobotmarg">מידע להורים</h4>
                <p style="direction: rtl">



                <p><strong>
                    הורים יקרים, אנחנו באל"י יודעים שאתם מנסים לעשות את הטוב ביותר עבור ילדכם, אם זאת, אנו מודעים לכך כי ההורות היא מורכבת ומבלבלת.
לשם כך, ניסינו לרכז עבורכם מידע חשוב.</strong>
                </p>
            </div>
            <br />
            <!--<div class="row">
                <div class="col-md-6 ">
                    <a href="#abuse" class="btn btn-primary" translet>מהי התעללות</a>
                </div>
                <div class="col-md-6 ">
                    <a href="#abuse_signs" class="btn btn-primary" translet>סממנים לפגיעה מינית, פיזית,
נפשית או חברתית בילד</a>
                </div>
            </div>
            <br />-->
            <div class="row cat-badge  " style="border: 1px solid #f2f2f2; max-height: 200px; min-height: 200px; margin-bottom: 30px;">
                <div class="col-md-8 ">
                    <a href="#abuse">
                        <h4>מה היא התעללות</h4>
                        <p>
                            מקובל לראות את המשפחה כמקור של אהבה ללא תנאי, חום ותמיכה, מסגרת המעניקה חסות לחבריה ומאפשרת גדילה ואושר. החברה מצפה מן המשפחה להגן על ילדיה ואף מטילה על ההורים אחריות חוקית לכך. רוב ההורים אכן אוהבים את ילדיהם, דואגים להם ומגנים עליהם. אך ישנם ממקרים בהם...
                        </p>
                    </a>
                    <a class="btn btn-primary pull-left">קרא עוד</a>
                </div>
                <div class="col-md-4 " style="padding-right: 0">

                    <img src="../images/abuse_signs.jpg" style="min-height: 198px" alt="">
                </div>
            </div>

            <div class="row cat-badge-left" style="border: 1px solid #f2f2f2; max-height: 100px; min-height: 200px; ">

                <div class="col-md-4 " style="padding-left: 0">

                    <img src="../images/what_is_abuse.jpg" style="min-height: 198px" alt="">
                </div>
                <div class="col-md-8 ">
                    <a href="#abuse_signs">
                        <h4>סממנים לפגיעה מינית, פיזית, נפשית או חברתית בילד

                        </h4>
                        <p>
                            הורים ואנשי חינוך רבים פונים לקו החם של אל"י ושואלים האם יש סימנים היכולים להעיד על חשד שמא ילדם עובר התעללות. לאור זאת אנחנו מציגים רשימה של סממנים שעלולים להיות סימפטומים לפגיעה בילד (חשוב לציין שנוכחות אחד או יותר מהסממנים אצל הילד לא בהכרח...
                        </p>
                    </a>

                </div>
                  <a class="btn btn-primary pull-left">קרא עוד</a>
            </div>
         


        </div>
    </div>
</div>
