
    <!-- === navbar === -->
    <div class="navbar navbar-fixed-top" data-activeslide="1">
        <div class="" style="margin-left:auto;margin-right:auto; width:70%">
            <div class=" nav-collapse  navbar-responsive-collapse ">
                <ul class=" nav row">
                    <li data-slide="6" ng-click="setSection(6)" class="col-12 col-sm-2"><a data-slide="6" href="#section-6" du-smooth-scroll du-scrollspy><span class="text">{{ 'contact us' | translate }}&nbsp;<span class="icon icon-envelope"></span></span></a></li>
                    <li data-slide="5" class="col-12 col-sm-2"><a data-slide="5" href="#section-5" du-smooth-scroll du-scrollspy><span class="text">{{ 'about us' | translate }}&nbsp;<span class="icon icon-user"></span></span></a></li>
                    <li data-slide="4"  ng-click="setSection(4)" class="col-12 col-sm-2"><a data-slide="4" href="#section-4" du-smooth-scroll du-scrollspy><span class="text">{{ 'help us' | translate }}&nbsp;<span class="icon icon-briefcase"></span></span></a></li>
                    <li data-slide="3" class="col-12 col-sm-2"><a data-slide="3" href="#section-3" du-smooth-scroll du-scrollspy><span class="text">{{ 'Information' | translate }}&nbsp;<span class="icon icon-info"></span></span></a></li>
                    <li data-slide="2" class="col-12 col-sm-2"><a data-slide="2" href="#section-2" du-smooth-scroll du-scrollspy><span class="text">{{ 'Doing' | translate }}&nbsp;<span class="icon icon-heart"></span></span></a></li>
                    <li data-slide="1" class="col-12 col-sm-2"><a data-slide="1" href="#section-1" du-smooth-scroll du-scrollspy><span class="text">{{ 'Home' | translate }}&nbsp;<span class="icon icon-home"></span></span></a></li>
                </ul>
                <div class=" row">
                    <div class=" col-sm-3 active-menu"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- === navbar === -->





<aside id="Social-Sidebar-allpages" class="Theme-Color">
    <ul>
        <li class="fadeIn"><a href="#main" class="Home"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li><a href="" ng-click="back()" class="Back" rel="nofollow"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </li>
        <li ng-click="showMe=!showMe"><a href="" class="Menu" rel="nofollow"><span class="glyphicon glyphicon-list"></span></a>
        </li>
<!--        <li ng-show="!showMe" ng-click="showMe=!showMe"><a href="" class="Facebook" rel="nofollow"><span>הסתר תפריט</span></a>
        </li>-->
    </ul>
</aside>

<aside ng-show="!showMe" id="Social-Sidebar" class="Theme-Color">
    <ul class="fadeIn">
        <li><a href="#abuse" class="Facebook" rel="nofollow"><span>מהי התעללות</span></a></li>
        <li><a href="#abuse_signs" class="Twitter"  rel="nofollow"><span>סממנים לפגיעה</span></a></li>
        
    </ul>
</aside>

<div class="papers slideLeft " style="width: 60%; height: 100%; margin-top: 90px;">

    <div class="container " style="direction: rtl; width: 80%; height: 100%">

        <div class="col-md-12 ">


            <h4 class="notopmarg nobotmarg">מידע להורים</h4>
            <p style="direction: rtl">



            <p>
                הורים יקרים, אנחנו באל"י יודעים שאתם מנסים לעשות את הטוב ביותר עבור ילדכם, אם זאת, אנו מודעים לכך כי ההורות היא מורכבת ומבלבלת.
לשם כך, ניסינו לרכז עבורכם מידע חשוב.
            </p>
            <br />
            <div class="col-md-6 ">
                <a href="#abuse" class="btn btn-primary" translet>מהי התעללות</a>
            </div>
            <div class="col-md-6 ">
                <a href="#abuse_signs" class="btn btn-primary" translet>סממנים לפגיעה מינית, פיזית,
נפשית או חברתית בילד</a>
            </div>

        </div>
    </div>
</div>
