<div class="papers slideLeft " style="width: 60%; height: 100%; margin-top: 90px;">

    <div class="container " style="direction: rtl; width: 80%; height: 100%">

        <div class="col-md-12 ">


            <h4 class="notopmarg nobotmarg">מידע לאנשי חינוך</h4>
            <p style="direction: rtl">



            <p>
                אנו באל"י, מוקירים את העבודה הקשה שלכם, ריכזנו כאן מאמרים שאנו מקווים כי יוכלו לסייע לכם בעבודתכם

            </p>
            <br />
            <div class="col-md-4 ">
                <a href="#abuse_detection" class="btn btn-primary" translet>איתור וזיהוי ילד במצוקה</a>
            </div>
            <div class="col-md-4 ">
                <a href="#internet_safety" class="btn btn-primary" translet>בטיחות באינטרנט</a>
            </div>
            <div class="col-md-4 ">
                <a href="#abuse_signs" class="btn btn-primary" translet>סימנים לפגיעה מינית, פיזית,נפשית או חברתית בילד </a>
            </div>

        </div>
    </div>
</div>
