<aside id="Social-Sidebar-allpages" class="Theme-Color">
    <ul class="fadeIn">
        <li><a href="#main" class="Home" ><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li><a href="" ng-click="back()" class="Back" rel="nofollow"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </li>
    </ul>
</aside>

<div class="papers slideLeft " style=" margin-top: 90px;">

    <div class="container " style="direction: rtl; width: 80%; height: 100%">

        <div class="col-md-12 ">


            <h4 class="notopmarg nobotmarg">מידע לאנשי חינוך</h4>
            <p style="direction: rtl">



            <p>
                אנו באל"י, מוקירים את העבודה הקשה שלכם, ריכזנו כאן מאמרים שאנו מקווים כי יוכלו לסייע לכם בעבודתכם

            </p>
            <br />
                        <div class="row cat-badge  modal-content" style="border: 1px solid #f2f2f2; max-height: 200px; min-height: 200px; margin-bottom: 30px;">
                <div class="col-md-8 ">
                    <a href="#info_for_prof_index/abuse_detection">
                        <h4>איתור וזיהוי ילד במצוקה</h4>
                        <p>
                            מקובל לראות את המשפחה כמקור של אהבה ללא תנאי, חום ותמיכה, מסגרת המעניקה חסות לחבריה ומאפשרת גדילה ואושר. החברה מצפה מן המשפחה להגן על ילדיה ואף מטילה על ההורים אחריות חוקית לכך. רוב ההורים אכן אוהבים את ילדיהם, דואגים להם ומגנים עליהם. אך ישנם ממקרים בהם...
                        </p>
                    </a>
                    <a class="btn btn-primary pull-left">קרא עוד</a>
                </div>
                <div class="col-md-4 " style="padding-right: 0">

                    <img src="../images/abuse_signs.jpg" style="min-height: 198px" alt="">
                </div>
            </div>

                                    <div class="row cat-badge  modal-content" style="border: 1px solid #f2f2f2; max-height: 200px; min-height: 200px; margin-bottom: 30px;">
                <div class="col-md-8 ">
                    <a href="#info_for_prof_index/abuse_detection">
                        <h4>איתור וזיהוי ילד במצוקה</h4>
                        <p>
                            מקובל לראות את המשפחה כמקור של אהבה ללא תנאי, חום ותמיכה, מסגרת המעניקה חסות לחבריה ומאפשרת גדילה ואושר. החברה מצפה מן המשפחה להגן על ילדיה ואף מטילה על ההורים אחריות חוקית לכך. רוב ההורים אכן אוהבים את ילדיהם, דואגים להם ומגנים עליהם. אך ישנם ממקרים בהם...
                        </p>
                    </a>
                    <a class="btn btn-primary pull-left">קרא עוד</a>
                </div>
                <div class="col-md-4 " style="padding-right: 0">

                    <img src="../images/abuse_signs.jpg" style="min-height: 198px" alt="">
                </div>
            </div>

            <br />
            <div class="col-md-4 ">
                <a href="#abuse_detection" class="btn btn-primary" translet>איתור וזיהוי ילד במצוקה</a>
            </div>
            <div class="col-md-4 ">
                <a href="#internet_safety" class="btn btn-primary" translet>בטיחות באינטרנט</a>
            </div>
            <div class="col-md-4 ">
                <a href="#abuse_signs" class="btn btn-primary" translet>סימנים לפגיעה מינית, פיזית,נפשית או חברתית בילד </a>
            </div>

        </div>
    </div>
</div>
