<aside id="Social-Sidebar-allpages" class="Theme-Color">
    <ul class="fadeIn">
        <li><a href="#main" class="Home" ><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li><a href="" ng-click="back()" class="Back" rel="nofollow"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </li>
    </ul>
</aside>


<!--<div class="col-md-2" style="background-image:url(imgs/image2.png);min-height:100vh;background-repeat:no-repeat;margin-left:0; " ></div>-->


    <div class="papers slideLeft " style="margin-top: 90px;direction:rtl">

  


            <h4 class="notopmarg nobotmarg">מידע לאנשי מקצוע
            </h4>
           



            <p>
                אנשי מקצוע יקרים
תוכלו למצוא כל מה שתצטרכו כאן
            </p>
            <br />

                    <div class="col-md-4"><a href="#info_for_prof_index/info_for_educators">
                <p>
                    <img src="/client/app/images/law.jpg" class="img-circle modal-content" width="150" height="150"></i>
                </p>
                <h3 class="font-thin"><span class="font-semibold">מידע לאנשי חוק ומשפט</span></h3>
               </a> 
            </div>
                      <div class="col-md-4"><a href="#info_for_prof_index/info_for_therapists">
                <p>
                    <img src="/client/app/images/therapist.jpg" class="img-circle modal-content" width="150" height="150"></i>
                </p>
                <h3 class="font-thin"><span class="font-semibold">מידע למטפלים</span></h3>
                   </a> 
            </div>
                      <div class="col-md-4"><a href="#info_for_prof_index/info_for_educators">
                <p>
                    <img src="/client/app/images/educater.jpg" class="img-circle modal-content" width="150" height="150"></i>
                </p>
                <h3 class="font-thin"><span class="font-semibold">מידע לאנשי חינוך</span></h3>
                   </a> 
            </div>



</div>
    


<!--<div class="col-md-2" style="background-image:url(imgs/image2.png);min-height:100vh;background-repeat:no-repeat;margin-right:0;background-position:right " ></div>-->

               
        
