<aside id="Social-Sidebar-allpages" class="Theme-Color">
    <ul class="fadeIn">
        <li><a href="#main" class="Home" ><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li><a href="" ng-click="back()" class="Back" rel="nofollow"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </li>
    </ul>
</aside>


<aside ng-show="!showMe" id="Social-Sidebar" class="Theme-Color">
    <ul class="fadeIn">
        <li><a href="#info_for_prof_index/abuse" class="Facebook" rel="nofollow"><span>מידע לאנשי חוק ומשפט</span></a></li>
        <li><a href="#info_for_prof_index/info_for_therapists" class="Twitter" rel="nofollow"><span>מידע למטפלים</span></a></li>
        <li><a href="#info_for_prof_index/info_for_educators" class="Twitter" rel="nofollow"><span>מידע לאנשי חינוך</span></a></li>
    </ul>
</aside>


<div  class="col-md-8 col-md-offset-2" >
<ui-view></ui-view>
    </div>


<!--<div class="col-md-2" style="background-image:url(imgs/image2.png);min-height:100vh;background-repeat:no-repeat;margin-right:0;background-position:right " ></div>-->

               
        
