
<aside id="Social-Sidebar-allpages" class="Theme-Color">
    <ul class="fadeIn">
        <li><a href="#main" class="Home" ><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li><a href="" ng-click="back()" class="Back" rel="nofollow"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </li>
    </ul>
</aside>

<div class="papers slideLeft " style="width: 60%; height: 100%; margin-top: 90px;">

    <div class="container " style="direction: rtl; width: 80%; height: 100%">

        <div class="col-md-12 ">


            <h4 class="notopmarg nobotmarg">מידע למטפלים</h4>
            <p style="direction: rtl">



            <p>
                מטפלים יקרים, אנו יודעים עד כמה חשובה עבודתכם ועד כמה קשה למצוא חומר מתאים, לכן, ריכזנו כאן בשבילכם מידע מועיל. 
            </p>
            <br />
            <div class="col-md-12 ">
                 <a href="#abuse_detection" class="btn btn-primary" translet>איתור וזיהוי ילד במצוקה</a>
            </div>


        </div>
    </div>
</div>
