<div>
<div class="papers slideLeft " style="width: 60%; height: 100%; margin-top: 90px;">

    <div class="container " style="direction: rtl; width: 80%; height: 100%">

        <div class="col-md-12 ">


            <h4 class="notopmarg nobotmarg">בטיחות באינטרנט</h4>
            <p style="direction: rtl">
            <p>
                בהמשך למחוייבות שלנו להגיש את השירותים החדשניים ביותר, אל"י ערה לכך כי אנו ניצבים בפני אתגרים חדשים שמזמנת לנו הטכנולוגיה המתקדמת. הנושא של פוגעים מינית המשתמשים ברשת, הוא חדש יחסית ואנו באל"י מבינים כי יש להתייחס לנושא בצורה הוליסטית ומקיפה. למעשה, במרץ 2012, אל"י הוכרה ע"י גופים מובילים בישראל על חדשנותה בהכנתם של הורים וילדים לשימוש באינטרנט בבטחה. התוכנית מייצרת פורום להורים וילדים כדי למצוא פרמטרים וחוקים לשימוש בטוח באינטרנט, למידת עמיתים בבתי הספר, כאשר תלמידים בוגרים יותר מלמדים תלמידים צעירים יותר ממה להיזהר כאשר הם גולשים, ותוכניות עבור הורים שלעיתים מבינים עוד פחות מילדיהם כאשר מדובר באינטרנט...
            </p>
            <h5><strong>רכיבי התוכנית:</strong></h5>
            <p>
רשת של אחריות: מלמד את ההורים מה הם יכולים לעשות כדי להגן על ילדיהם מפוגעים מינית ברשת.
סכנות ברשת: הרצאה המדגישה את הסיכונים של הפצת מידע לילדים ונוער.
דאבל קליק: מספקת פורום להורים וילדים יחד, כדי לדון בסכנות האינטרנט ובכדי לקבוע חוקים לגבי פרטיות ששני הצדדים מסכימים עליהם (לצרף את האמנה לגלישה בטוחה)
תעלומה ברשת: מחזה חדש המיועד לבתי ספר יסודיים, וממחיש לילדים בצורה הטובה ביותר את הסכנות ברשת. (להוסיף קישור להצגה)
 
            </p>

        </div>
    </div>
</div></div>
    	<aside id="Social-Sidebar"   class="Theme-Color">
	<ul>
		<li><a href="#" class="Facebook" target="_blank" rel="nofollow"><span>קורסים קרובים</span></a></li>
		<li><a href="#" class="Twitter" target="_blank" rel="nofollow"><span>השתלמויות</span></a></li>
		<li><a href="#" class="GPlus" target="_blank" rel="nofollow"><span>חוברת המכללה</span></a></li>
   

	</ul>
</aside> 


