
<!--papers-->
<style>
    .papers,.papers:before,.papers:after {
	background-color:#fff;
	border:1px solid #ccc;
	box-shadow:inset 0 0 30px rgba(0,0,0,0.1),1px 1px 3px rgba(0,0,0,0.2);
}
.papers {
	position:relative;
	width:90%;
	padding:2em;
	margin:0px auto;
	margin-top:40px;
	font-size:15px;
    font-family:Tahoma;
}
.papers:before,.papers:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	-webkit-transform:rotateZ(2.5deg);
	-o-transform:rotate(2.5deg);
	transform:rotateZ(2.5deg);
	z-index:-1;
}
.papers:after {
	-webkit-transform:rotateZ(-2.5deg);
	-o-transform:rotate(-2.5deg);
	transform:rotateZ(-2.5deg);
}
.papers h1 {
	font-size:1.8em;
	font-weight:normal;
	text-align:center;
	padding:0.2em 0;
	margin:0;
	border-top:1px solid #ddd;
	border-bottom:2px solid #ddd;
}
.papers p {
	text-align:right;
	margin:1.5em 0;
}
.papers img {
	max-width:100%;
	margin-bottom: 5px;
}

</style>

<div class="papers slideLeft" style="width:60%;height:100%;">   
 
<div class="container" style="direction:rtl;width:80%;height:100%">
<div class="col-md-12 " >
	
			
					<h4 class="notopmarg nobotmarg">מהי התעללות?</h4>
					<p style="direction:rtl">

 
<h5><strong> התופעה ומאפיינה :</strong></h5>
                        <p>
מקובל לראות את המשפחה כמקור של אהבה ללא תנאי, חום ותמיכה, מסגרת המעניקה חסות לחבריה ומאפשרת גדילה ואושר. החברה מצפה מן המשפחה להגן על ילדיה ואף מטילה על ההורים אחריות חוקית לכך. רוב ההורים אכן אוהבים את ילדיהם, דואגים להם ומגנים עליהם. אך ישנם ממקרים בהם הופכים ההורים למקור סכנה והבית למלכודת.
התעללות בילדים כוללת מעשה או מחדל של מבוגר כלפי ילד, הגורם או יכול לגרום לילד נזק פיסי או רגשי ולפגוע בהתפתחותו.</p><br /><h5><strong>
ניתן לציין ארבע קטגוריות עיקריות של פגיעה בילדים:</strong></h5>
 <h5><strong>
התעללות פיסית: </strong></h5>
                        התנהגות אשר גורמת חבלה או כאב, עמו הכאה, נשיכה, צריבת הילד באמצעות סיגריה או ברזדימומיםל מלוהן, חבלה באמצעות חפצים חדים או קהים, גרימת שברים, כוויות פצעים או דימומים.
 <h5><strong>
פגיעה מינית: </strong></h5>
                        ניצול הילד לשם סיפוק צרכים ארוטיים של המבוגר. פגיעה זו יכולה לנוע מנגיעות וליטופים עד לאקט מיני מלא. היא יכולה להיעשות בכפיה תוך הפעלת כוח או בפיתוי ותוך כדי משחק. צפייה בחומר פורנוגראפי נחשבת אף היא לפגיעה מינית כמו גם אוירה ארוטית בכל דרך אחרת. רוב הפגיעות המיניות מתרחשות ע"י גברים אולם הנפגעים הם גם בנים וגם בנות. <h5><strong>
התעללות נפשית:</strong></h5>
                         פגיעה זו קשה לזיהוי או לאיתור, צלקות על נפשו של ילד אינן ניתנות לתיעוד אובייקטיבי. ההתעללות הנפשית כוללת דחייה, איום, הפחדה, השפלה, ביקורתיות, התעלמות מצרכים רגשיים כמו גם מניעת אהבה והתעלמות.<h5><strong>
הזנחה:</strong></h5>
                         זו הינה תופעת התעללות השכיחה ביותר והיא כוללת התעלמות מצרכים פיסיים של הילד והימנעות מלספק אותם. הזנחה יכולה להתבטא במניעת מזון, אי החלפת חיתולים, חשיפה למצבים מסוכנים (חוט חשמל חשוף, היעדר מעקה במרפסת), מניעת טיפול רפואי, חוסר השגחה או הפקרת הילד וכדומה. בחלק גדול ממקרי הפגיעה משולבים מספר סוגי פגיעה ומופיעים במקביל.
הגדרה מדויקת של פגיעה, בכל אחת מהקטגוריות, קשה ביותר. לעיתים יתרחש אקט פגיעה יחיד אשר יחשב להתעללות בשל חומרתו, אך יש ורמת המעשה או המחדל אינה חמורה אך היא מופיעה כדפוס התנהגות קבוע לאורך זמן, וגם זו נחשבת להתעללות. מניעי ההתנהגות הפוגעת שונים ומגוונים. חלקם נוגעים למצבו הנפשי של ההורה, אחרים לסביבה חברתית. הם מושפעים ממצבי לחץ חברתיים כמו אבטלה, וכרוכים לעיתים בהתנהגויות אנטי חברתיות נוספות. במקרים רבים עברו ההורים המכים חוויות התעללות בילדותם שלהם.
רוב מקרי ההתעללות מתרחשים ע"י ההורה. אך יש והפגיעה הינה ע"י קרוב משפחה אחר: סב, דוד, בן דוד או מבוגר אחר שהינו בעל סמכות הורית כמו בן זוג של ההורה, חבר המשפחה וכדומה. בחלק מהמקרים הורה אחד הוא הפוגע אך אי אפשר לשחרר את ההורה האחר מאחריות בשל הכישלון שלו להגן על הילד.
ההתעללות מותירה נזקים פסיכולוגיים גם כאשר הפגיעה עצמה מסתיימת. ילדים שעברו התעללות מאבדים את היכולת לבטוח בזולת ולהאמין בו, הם מתקשים ליצור מערכת יחסים משמעותית עם אחרים. מפתחים גישה פטליסטית לחיים והופכים לקורבנות קלים לפגיעות שונות במהלך חייהם. הם סובלים מדימוי עצמי נמוך, מדימוי גוף שלילי והתוצאה היא חוסר אושר אישי לצד קשיים בתפקוד במסגרות עבודה, חברה ומשפחה. אחת הבעיות הקשות בכל הנוגע לנושא התעללות בילדים הינה האיתור. התופעה מתרחשת בסיסה האינטימית של המשפחה כאשר גם הילד הקורבן וגם הפוגע אינם מסוגלים לבקש עזרה. הילד בשל פחד, בושה או אמונה שהוא אחראי לפגיעה. ההורה בשל מעונש או בשל בטחון בצדקת דרכו. גם אנשים אחרים, קרובי משפחה, שכנים וחברים אינם נוטים לבקש עזרה על מנת שלא להסתבך ולקלקל יחסים. החוק במדינת ישראל מטיל אחריות על הורה הפוגע בילדו כמו גם על מבוגר אחר האחראי על לילד. בנוסף לכך קיימת חובת הדיווח לפיה על איש מקצוע כמו גם על "כל אדם" החושד שילד עובר התעללות קיימת חובה לדווח על כך למשטרה או פקידי הסעד. הימנעות מלדווח יכולה לגרור עונש מאסר.
					</p>
		
				</div>
			</div></div>