<section id="services">
			<div class="container">
				<h1 class="section-title wow fadeIn animated" data-wow-delay=".2s" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;"><span>Our</span> Services</h1>
				<div class="row">
					<div class="col-sm-6 col-md-3 wow fadeInUp animated" style="visibility: visible;">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-leaf"></i>
								</div>
								<h2>Easy to Customize</h2>
								<p>Lorem ipsum is simply dummy text of the printin and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".2s" data-wow-offset="10" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-heart"></i>
								</div>
								<h2>Clean &amp; Creative</h2>
								<p>Lorem ipsum is simply dummy text of the printin and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".4s" data-wow-offset="10" style="visibility: visible;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-child"></i>
								</div>
								<h2>Ready to Launch</h2>
								<p>Lorem ipsum is simply dummy text of the printin and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow fadeInUp animated" data-wow-delay=".6s" data-wow-offset="10" style="visibility: visible;-webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-mobile-phone"></i>
								</div>
								<h2>Liquid Responsive</h2>
								<p>Lorem ipsum is simply dummy text of the printin and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>