<!--<table>
    <tr>

        <td style="vertical-align: top">

            <table>
                <tr>
                    <td style="vertical-align: top">

                        <hr>
                         branch lable <input ng-model="lable"/><br />
                       branch description  <input ng-model="description"/>
                        <button ng-click="try_adding_a_branch()" class="btn btn-default btn-sm">Add Branch</button>
                    </td>
                    <td style="vertical-align: top">
                        <div style="width: 250px; margin-left: 100px; background: red; border: 1px solid lightgray; border-radius: 5px;">
                            <span ng-if="doing_async">...loading...</span>
                            <abn-tree tree-data="projectArr" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Granny Smith"></abn-tree>
                        </div>
                    </td>
                    <td style="padding: 20px; vertical-align: top;">
                        <div style="width: 300px" class="alert alert-warning">{{ output }}</div>
                    </td>
                    <td style="padding: 20px; vertical-align: top;">
                      

              </td>
                    
             
                    
                </tr>
                <tr>       <td style="padding: 20px; vertical-align: top;">
                        {{projectArr}}
                    projec lable <input ng-model="projectLable"/><br />
                    <button ng-click="addProject()" class="btn btn-default btn-sm">Add Project</button>
                       


              </td></tr>
            </table>
        </td>
    </tr>
</table>-->



<div class="row ">

    <div class="col-md-9">

        <span ui-view></span>

    </div>
       

    <div class="col-md-3">
              <div class="modal-content">
            <div class="modal-header text-right">
                <h3 class="text-center">User</h3>
            </div>
            <div class="panel-body" style=" background:#0094ff; direction:rtl">
                 <abn-tree tree-data="projectArr" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2" initial-selection="Granny Smith"></abn-tree>
       </div>
    </div>
        </div>
    </div>
