
<section class="modal-content fadeIn animated">

    <header class="panel-heading wht-bg">
        <h4 class="gen-case">Compose Mail
                    
        </h4>
    </header>
    <div class="panel-body">

        <div class="compose-mail">
            <form role="form-horizontal" method="post">
                <div class="form-group ">
                    <label for="to" class="">To:</label>
                    <!--   <input type="text" tabindex="1" id="to" class="form-control">-->


                    <tags-input ng-model="tags" min-length="0"
                        replace-spaces-with-dashes="false"
                        add-from-autocomplete-only="true"
                        on-tag-added="tagAdded($tag)"
                        on-tag-removed="tagRemoved($tag)" style="direction: ltr"> <auto-complete
											source="loadTags($query)" min-length="0" debounce-delay="0"
											max-results-to-show="10" ></auto-complete> </tags-input>


               
                </div>

    


                <div class="form-group">
                    <label for="subject" class="">Subject:</label>
                    <input ng-model="mailMessage.subject" type="text" tabindex="1" id="subject" class="form-control">
                </div>



                <div class="form-group">
                    <div class="col-md-12 col-xs-12 ">


                        <text-angular style="direction: rtl" ng-model="mailMessage.content"></text-angular>
                    </div>
                </div>
                
        </div>
         <br /> <br />

        <input type="file" class="default">
        <br />
        <div class="compose-btn">
            <button ng-click="compose.sendMessage()" class="btn btn-theme btn-sm"><i class="fa fa-check"></i>Send</button>
            <a href="#mail"><button class="btn btn-sm"><i class="fa fa-times"></i>Discard</button></a>
 
        </div>


    </div>

</section>
