
<div class="row ">


    <div class="modal-content">
        <div class="modal-header text-right">
            <h3 class="text-center">{{task.task.text}}</h3>
        </div>
        {{task.task}}
                  <div class="panel-body">

                      <div class="row">
                          <div class="col-md-12  col-xs-12">
                              <label class="label-text-size pull-right">
                                  : כותרת
                              </label>
                          </div>
                          <div class="col-md-12 col-xs-12">
                              <input class="form-control input-md" ng-model="task.task.title" placeholder="">
                          </div>

                      </div>
                      <br />

                      <div class="row">
                          <div class="form-group">
                              <div class="col-md-12 col-xs-12 ">
                                  <label class="pull-right" for="content">: תוכן</label>
                                  <!-- <textarea ng-model="add.news.content" class="form-control text-right" rows="4"  id="content"></textarea>-->
                                  <text-angular style="direction: rtl" ng-model="task.task.contnet"></text-angular>
                              </div>
                          </div>
                      </div>
                      <br />
                      <div class="row">

                          <div class="col-md-4 col-xs-4 pull-right">
                              <datetimepicker ng-change="task.validateDate()"
                                  min-date="task.tmpDate"
                                  hour-step="task.hourStep" minute-step="task.minuteStep"
                                  ng-model="task.reminder.reminderTime" show-meridian="task.showMeridian"
                                  date-format="dd/MM/yyyy" 
                                  date-disabled="task.disabled(date, mode)" readonly-time="false"></datetimepicker>
                     
                          </div>
                      </div>
 <button class="btn btn-info" ng-click="task.saveReminder()">Remind Me</button>


                  </div>
    </div>
</div>


