<div class="row slideUp">

    <div class="col-md-9">

        <span ui-view></span>

    </div>
    <div class="col-md-3">
        <div class="modal-content">
            <div class="modal-header text-right">
                <h3 class="text-center">{{project.name}} </h3>
            </div>
            <div class="panel-body" style="background: #006079; direction: rtl">
                <iui-treeview name="{{treeName}}" class="directive" items="remoteData" allow-drag="true" allow-drop="true" drag-drop="onDragDrop(e)" rtl="showRTL" label-edit="true" events="treeEvents" item-added="myfun(e)" show-icons="false" tabindex="0"></iui-treeview>
            </div>
            <div class="modal-footer ">
                <button ng-click="addRoot()">Add Root</button><br />
                <button ng-click="addChild()">Add Child</button><br />
                <input ng-model="itemName" /><br />
                <button ng-click="remove()">Remove</button><br />
                <button ng-click="clear()">Clear</button>
                <button ng-click="save()">Save</button>
                <button ng-click="get()">get</button>
                <button ng-click="update()">update</button>
                <button ng-click="test()">test</button>
                <button ng-click="deleteProject()">delete</button>
            </div>
        </div>
    </div>
</div>
