
       



<h1 class="page-header" translate>Dashboard</h1>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
            <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{"Patients" | translate}}</div>
                                    <div>26</div>
                                </div>
                            </div>
                        </div>
                        <a href="#patients">
                            <div class="panel-footer">
                                <span class="pull-left">{{"Show Details" | translate}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
		</div>   
		<div class="col-md-6 column">
            <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{"Assignments" | translate}}</div>
                                    <div>17</div>
                                </div>
                            </div>
                        </div>
                        <a href="#tasks">
                            <div class="panel-footer">
                                <span class="pull-left">{{"Show Details" | translate}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
		</div>
	</div>
</div>







 <div class="row">

     <div class="container">
	<div class="row clearfix">
	<div class="col-md-6 column">
            <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{"Meetings" | translate}}</div>
                                    <div>55</div>
                                </div>
                            </div>
                        </div>
                        <a href="#meetings">
                            <div class="panel-footer">
                                <span class="pull-left">{{"Show Details" | translate}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
		</div>
<div class="col-md-6 column">
            <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">משתמשים</div>
                                    <div>55</div>
                                </div>
                            </div>
                        </div>
                        <a href="#meetings">
                            <div class="panel-footer">
                                <span class="pull-left">{{"Show Details" | translate}}</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
		</div>
	</div>
</div>

    </div>


