        <div class="modal-content" style="width: 100%">

            <div class="modal-header">
                <h3 class="text-center">משימות</h3>
            </div>

            <div class="panel-body text-right">
                <section class="task-panel tasks-widget">

                    <div class="">
                        <div class="">
                            <ul id="sortable" class="task-list ui-sortable">
                                <li ng-repeat="assignment in item.assignments" class=" " ng-class="{'list-success':assignment.isDone,'list-warning':!assignment.isDone}">

                                    <div class="task-title">

                                        <div class="pull-left hidden-phone">
                                            <button ng-if="!assignment.isDone" ng-click="item.isDoneAssignmentToggle(assignment)" class="btn btn-success btn-md fa fa-check"></button>
                                            <button ng-if="assignment.isDone" ng-click="item.isDoneAssignmentToggle(assignment)" class="btn btn-warning btn-md fa fa-remove"></button>
                                            <button ng-click="item.editAssignment(assignment)" class="btn btn-primary btn-md fa fa-pencil"></button>
                                            <button object-name="Assignment" confirm-action="item.removeAssignment(assignment,$index)" class="btn btn-danger btn-md fa fa-trash-o"></button>

                                        </div>

                                        <span class="assignment-title-sp pull-right" style="font-size: 130%"><a ng-click="item.showTask(assignment)">{{assignment.title}}</a></span>


                                    </div>
                                </li>


                            </ul>
                        </div>

                    </div>

                </section>
            </div>
        </div>
        <br />
<!--        <a ng-click="item.openTaskModal()" class="btn btn-success btn-sm pull-left">Add New Tasks</a>-->
<div class="col-md-12 fadeIn animated">
   
        <md-button ng-click="item.openTaskModal()" class="md-fab md-primary">
        <md-icon md-svg-src="img/icons/plus-md.svg"></md-icon>
      </md-button>


</div>