 Have to set height explicity on ui-view 
to prevent collapsing during animation

.page        { 
    bottom:0; 
    padding-top:200px;
    position:absolute; 
    text-align:center;
    top:0;  
    width:100%; 
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }
#about      { color:#333; position:absolute; text-align:center; top:50px; width:100%; }

 PAGES
============================================================================= 
.page-home      { background:#00D0BC; color:#00907c; }
.page-about     { background:#E59400; color:#a55400; }
.page-contact   { background:#ffa6bb; color:#9e0000; }

.ui-view-container {
  position: relative;
}

  /*.angular-animate.ng-enter, .angular-animate.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

.angular-animate.ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

.angular-animate.ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

.angular-animate.ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.angular-animate.ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}*/

.angular-animate.ng-enter,
.angular-animate.ng-leave,
.angular-animate.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.angular-animate.ng-enter,
.angular-animate.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.angular-animate.ng-move.ng-move-active,
.angular-animate.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}

.angular-animate.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.angular-animate.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

