


<div class="text-right">
   
    <div class="form-header " style="padding-top:30px" > <img id="top" style="width:100%" src="imgs/top.png" alt=""><h1 class="page-header text-right" translate>Patients</h1>
<ol class="breadcrumb">
  <li class="active"><a href="#patients" translate>Patients</a></li>
  <li  ><a href="#dashboard" translate>Dashboard</a></li>
</ol>
</div>
</div>




<table class="table table-striped text-right">
  <thead>
  <tr>
    
       <td></td>
      <td></td>
       <td></td>
       <td translate>ID</td>
    <td translate>Last Name</td>

       <td translate>First Name</td>
    
  </tr>
  </thead>

  <tr ng-repeat="patient in list.patients|filter:{project_family_id: list.project_family_id,project_id: list.project_id,step_id:list.step_id}">

          <td>
      <a class="btn btn-warning btn-xs glyphicon glyphicon-pencil" href="#/patient/edit/{{patient._id}}"></a>
    </td>
    <td>
         <i object-name="patient" confirm-action="list.remove(patient)"  class="btn btn-xs btn-danger glyphicon glyphicon-trash"></i>
    </td>
            <td></td>
   
        <td>{{patient.identity_number}}</td>
    <td>{{patient.last_name}}</td>

              <td><a href="#/patient/profile/{{patient._id}}">{{patient.first_name}}</a></td>
       <td>{{$index}}</td>
  </tr>

</table>

       <span  class="pull-left">  <a  class="btn btn-info" href="#/patient/add"><span class="fa fa-plus" ></span>{{'Add patient'|translate}}</a></span>



